/* Full-page modal container */
  .modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.4); /* Dim background */
  }
  
  /* Centered modal box */
  .modal-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    text-align: right;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  .header {
    text-align: center;
    background-color: #f8f8f8;
    padding: 10px;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
  }
  
  .header h1 {
    font-size: 20px;
    color: #3a3a3a;
    font-family: 'Arial', sans-serif;
    margin: 0;
  }
  
  /* Input fields */
  .input-group {
    text-align: left;
    margin-bottom: 12px;
  }
  
  .input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Login button */
  .login-btn {
    width: 100%;
    background: #04AA6D;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .login-btn:hover {
    opacity: 0.8;
  }

  /* Login button */
  .register-btn {
    width: 100%;
    background: #04AA6D;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .register-btn:hover {
    opacity: 0.8;
  }

  .forgot-password-btn {
    display: inline-block;
    color: #007BFF; /* Bootstrap primary blue */
    background: none;
    border: none;
    padding: 0;
    font-size: 12px;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 10px;
  }
  
  .forgot-password-btn:hover {
    color: #0056b3; /* Darker blue on hover */
  }
  
  